*{
    margin: 0;
    padding: 0;
}

.container-fluid img { 
    width: 150px;
    background-color: white;
    border: outset;
    border-radius: 15px;
    box-shadow: inset 7px 7px 12px gold,
                 7px 7px 12px red;
   border-color:black;
   border-width: 5px;

    
}
.menu-bar{
    background-color:#3D195B;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 20px;
    
}

.nav-item {
  display: flex;
  margin-left: 40px;
}

.navbar .nav-item a{
color:white!important;
}

.navbar .nav-item a:hover{
    background:#3D195B ;
}


.navbar button{
    background-color: #f5005f;
    color: white;
}

.arow{
      
    font-size: 40px;
    position: relative;
    text-align: center;
    margin:100PX auto;
    max-width: 600px;
    font-family: 'Abril Fatface', cursive;
    color: #FE8802;
}
.arow:hover{
    background-color: #3D195B;
    height: 60px;
}

.arow h2{
    font-size: 40px;
}
h2:before{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background:#f5005f;
    margin-top: 20px;
    position: absolute;
    top: 20%;

    
    z-index: -5;
}

h2:after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background:#f5005f;
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: -5;
}



.leity img {
    margin-top: 40px;
    margin-left: 11%;
    
    width: 80%;
    height: 600px;
    border: outset;
    border-color:blue;
    border-width: 4px;
}

.leity h3{

    margin-top: 32%;
    position: absolute;
    margin-left: 20%;
    font-size: 55px;
    color: white;
    font-family: 'Abril Fatface', cursive;
    
}

.leity h4{
    margin-top: 37%;
    position: absolute;
    margin-left: 43%;
    font-size: 55px;
    color: wheat;
    font-family: 'Abril Fatface', cursive;
    
}


.quality h1{
    margin-top: 45px;
    margin-left: 10%;
    font-family: 'Cinzel', serif;
    font-size: 35px;
    color: blue;
}

.quality p{
    margin-top: 40px;
    width: 900px;
    margin-left: 20%;
    font-size: 25px;
     color: black;
    line-height: 50px;
}

.quality span{
    color:blue;
}

.wolvo img{
    margin-top: 60px;
    margin-left: 11%;

    width: 80%;
    height: 500px;
    border: outset;
    border-color:blue;
    border-width: 4px;
}

.wolvo h1{
    margin-top: 45px;
    margin-left: 10%;
    font-family: 'Cinzel', serif;
    font-size: 45px;
    color: blue;
}

.wolvo p{

    margin-left: 15%;
    margin-top: 40px;
    font-size: 23px;
}

.bud h3{
    margin-left: 29%;
    margin-top: 60px;
    font-family: 'Cinzel', serif;
    color: blue;
}

.bud p{
    margin-left: 32%;
    margin-top: 40px;
    font-size: 20px;
}

.vardy h3{
    margin-left: 20%;
    margin-top: 60px;
    font-family: 'Cinzel', serif;
    color: blue;
}

.vardy p{
    margin-left: 32%;
    margin-top: 40px;
    font-size: 20px;
}

.vardy h4{
    margin-left: 14%;
    margin-top: 60px;
    font-family: 'Cinzel', serif;
    color: red;
}


.owner li{
    display: flex;
    font-family: 'Abril Fatface', cursive;
    margin-left: 13%;
}

.owner p{
    margin-top: 50px;
    margin-left: 70px;
    font-family: 'Abril Fatface', cursive;
    color: blue;
    font-size: 25px;
}

.owner h3{
    margin-left: 20%;
    margin-top: 50px;
}

.valible{
    font-size: 40px;
    position: relative;
    text-align: center;
    margin:100PX auto;
    max-width: 600px;
    font-family: 'Abril Fatface', cursive;
    color: #FE8802;
}
.valible:hover{
    background-color: #3D195B;
    height: 60px;
}
h2:before{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #f5005f;
    margin-top: 20px;
    position: absolute;
    top: 20%;
    
    z-index: -5;
}

h2:after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #f5005f;
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: -5;
}

.risk li{
    display: flex;
    font-family: 'Abril Fatface', cursive;
    margin-left: 13%;
}

.risk p{
    margin-top: 50px;
    margin-left: 70px;
    font-family: 'Abril Fatface', cursive;
    color: blue;
    font-size: 20px;
}

.risk h3{
    margin-left: 20%;
    margin-top: 50px;
}

.citys img{
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
    height: 500px;
    border: outset;
    border-color:blue;
    border-width: 4px;
}

.citys p {
    line-height: 50px;
    width: 80%;
    margin-left: 10%;
    margin-top: 70px;
    font-family: 'Cinzel', serif;
    font-size: 20px;

}
.amazing button{
    width: 400px;
    height: 80px;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 30%;
    border: outset;
    border-radius: 10px;
    border-color:#3D195B;
    border-width: 8px;
    font-family: 'Abril Fatface', cursive;

}

.amazing button:hover{
    box-shadow: inset 8px 8px 12px #FE8802,
    8px 8px 12px red;
}




footer{
    background: linear-gradient(to right,#00093c,#2d0b00);
    width: 100%;
    color: white;
    margin-top: 70px;
    height: auto;
    padding: 50px 100px;
    position: relative;
    border-bottom-right-radius: 400px;
    border-top-left-radius: 150px;
    
   }
   footer .container{
       width: 100%;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       
   
   }
   
   footer.container .sec p{
       color: white;
   }
   .sci img{
       
       width: 35px;
   }
   
   .sci{
       margin-top: 10px;
       display: grid;
       font-size: 10px;
   }
   
   .sci li{
       list-style: none;
       
       
   }
   
   .sci li a{
       margin-bottom: 20px;
       display: inline-block;
       margin-top: 25px;
       margin-left: 50px;
       
   }
   
   
   
   
   
   .quicklinks{
       position: relative;
       margin-left: 20px;
   }
   
   .quicklinks li{
       list-style: none;
       
   }
   
   .quicklinks li a{
       color: white;
       text-decoration: none;
       margin-bottom:10px;
       display: inline-block;
       margin-top: 25px;
   
       
       
   }
   .fulled img{
       
       background-color: white;
       margin-left: 50%;
       height: 50%;
       border-radius: 10px;
   
   }
   
   .fulled img:hover{
       box-shadow: inset 7px 7px 12px red,
        7px 7px 12px gold;
   
   }
   
   .copyrighttext{
       background:#FE8802;
       color:white;
       margin-right: 26%;
       border-bottom-right-radius: 50px;
       text-align: center;
       justify-content: center;
       border-width: 15px;
       border: outset;
       border-color: black;
       font-size: 16px;
   }
   .copyrighttext:hover{
       color: black;
   }